@using FrontBlazor.Services
@inherits LayoutComponentBase


@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

 *@


@*  @inherits LayoutComponentBase *@

<AuthorizeView>
    <Authorized>
        <nav>
            <a href="/historias">Historias</a>
            <a href="/notas">Notas</a>
            <button @onclick="Logout">Cerrar Sesión</button>
        </nav>
    </Authorized>
    <NotAuthorized>
        <nav>
            <a href="/login">Login</a>
        </nav>
    </NotAuthorized>
</AuthorizeView>

<main>
    @Body
</main>

@code {
    [Inject] AuthService AuthService { get; set; } = default!;
    [Inject] NavigationManager Navigation { get; set; } = default!;

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login");
    }
}